module virtmanager 1.0;

require {
	type virtlogd_t;
	type var_log_t;
	class file open;
}

#============= virtlogd_t ==============
allow virtlogd_t var_log_t:file open;
