[Unit]
Description=Timer for brew-upgrade.service
Wants=network-online.target

[Timer]
OnBootSec=30min
OnUnitInactiveSec=8h
Persistent=true

[Install]
WantedBy=timers.target
