[Unit]
Description=Configuring proper location for Brew
After=local-fs.target
ConditionPathExists=!/var/lib/brew-directory-fix.done

[Service]
Type=oneshot
ExecStart=/usr/bin/bash -c "if [[ -d /var/home/linuxbrew/Homebrew && ! -d /var/home/linuxbrew/.linuxbrew/Homebrew ]]; then mv /var/home/linuxbrew /tmp/linuxbrew.tmp && mkdir -p /var/home/linuxbrew/ && mv /tmp/linuxbrew.tmp /var/home/linuxbrew/.linuxbrew; fi"
ExecStartPost=/usr/bin/touch /var/lib/brew-directory-fix.done

[Install]
WantedBy=default.target multi-user.target
