[Unit]
Description=Mount COSMIC config
After=local-fs.target
ConditionPathExists=!%h/.config/cosmic

[Service]
Type=oneshot
ExecStart=/usr/bin/cp -rn /usr/share/dune-os/cosmic %h/.config/cosmic
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target 
