[Unit]
Description=Mount Ghostty config
After=local-fs.target
ConditionPathExists=!%h/.config/ghostty

[Service]
Type=oneshot
ExecStart=/usr/bin/cp -rn /usr/share/dune-os/defaults/ghostty %h/.config/ghostty
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
